{
  "openapi": "3.0.1",
  "info": {
    "title": "FINBOURNE Identity Service API",
    "termsOfService": "https://www.finbourne.com/legal/terms-conditions",
    "contact": {
      "name": "FINBOURNE Technology",
      "url": "https://www.finbourne.com",
      "email": "info@finbourne.com"
    },
    "version": "0.0.2450",
    "x-logo": {
      "url": "https://www.lusid.com/app/assets/logo_white.png",
      "backgroundColor": "#415464"
    }
  },
  "servers": [
    {
      "url": "https://www.lusid.com/identity"
    }
  ],
  "paths": {
    "/api/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "[EARLY ACCESS] ListApplications: List Applications",
        "description": "List the available applications",
        "operationId": "ListApplications",
        "responses": {
          "200": {
            "description": "List the available applications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OAuthApplication"
                  }
                },
                "example": [{"id":"UniqueApplicationId","type":"Native","displayName":"Example Native Application","secret":"123456789","clientId":"my-example-native-app","issuer":"https://exampleiusser.lusid.com"}]
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      },
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "[EARLY ACCESS] CreateApplication: Create Application",
        "description": "Create a new Application",
        "operationId": "CreateApplication",
        "requestBody": {
          "description": "Details of the application to be created",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationRequest"
              },
              "example": {"displayName":"My First Application","clientId":"my-first-application","type":"Native"}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationRequest"
              },
              "example": {"displayName":"My First Application","clientId":"my-first-application","type":"Native"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationRequest"
              },
              "example": {"displayName":"My First Application","clientId":"my-first-application","type":"Native"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationRequest"
              },
              "example": {"displayName":"My First Application","clientId":"my-first-application","type":"Native"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create Application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthApplication"
                },
                "example": {"id":"UniqueApplicationId","type":"Native","displayName":"Example Native Application","secret":"123456789","clientId":"my-example-native-app","issuer":"https://exampleiusser.lusid.com"}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/applications/{id}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "[EARLY ACCESS] GetApplication: Get Application",
        "description": "get the specified application, and optionally the OIDC secret",
        "operationId": "GetApplication",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the application",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "includeSecret",
            "in": "query",
            "description": "Optional. If set to true, the application secrets will be returned in plain text",
            "schema": {
              "type": "boolean"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Get the specified application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthApplication"
                },
                "example": {"id":"UniqueApplicationId","type":"Native","displayName":"Example Native Application","secret":"123456789","clientId":"my-example-native-app","issuer":"https://exampleiusser.lusid.com"}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      },
      "delete": {
        "tags": [
          "Applications"
        ],
        "summary": "[EARLY ACCESS] DeleteApplication: Delete Application",
        "description": "Delete the specified application",
        "operationId": "DeleteApplication",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the application",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/applications/{id}/lifecycle/$newsecret": {
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "[EXPERIMENTAL] RotateApplicationSecrets: Rotate Application Secrets",
        "description": "Rotate the secrets for the specified application",
        "operationId": "RotateApplicationSecrets",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the application",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rotate Application Secrets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthApplication"
                },
                "example": {"id":"UniqueApplicationId","type":"Native","displayName":"Example Native Application","secret":"123456789","clientId":"my-example-native-app","issuer":"https://exampleiusser.lusid.com"}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    },
    "/api/authentication/information": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "GetAuthenticationInformation: Gets AuthenticationInformation",
        "description": "Get the AuthenticationInformation associated with the current domain. This includes all the\r\nnecessary information to login to this domain.",
        "operationId": "GetAuthenticationInformation",
        "responses": {
          "200": {
            "description": "Get authentication information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationInformation"
                },
                "example": {"issuerUrl":"https://myco.lusid.okta.com/12346","samlIdentityProviderId":"0oa14txx1jAiz7T302p7as","supportAccessExpiryWithRole":[]}
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Stable"
      }
    },
    "/api/authentication/support": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "[EARLY ACCESS] GrantSupportAccess: Grants FINBOURNE support access to your account",
        "description": "Granting support access will allow FINBOURNE employees full access to your data with the express intent to investigate support issues\r\nYou can revoke this (and all) access at any time using the InvalidateSupportAccess endpoint.",
        "operationId": "GrantSupportAccess",
        "requestBody": {
          "description": "Request detailing the duration and reasons for supplying support access",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SupportAccessRequest"
              },
              "example": {"duration":"PT24H","description":"Investigate issues detailed in support ticket 0604"}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupportAccessRequest"
              },
              "example": {"duration":"PT24H","description":"Investigate issues detailed in support ticket 0604"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SupportAccessRequest"
              },
              "example": {"duration":"PT24H","description":"Investigate issues detailed in support ticket 0604"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SupportAccessRequest"
              },
              "example": {"duration":"PT24H","description":"Investigate issues detailed in support ticket 0604"}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Grant Support Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportAccessResponse"
                },
                "example": {"id":"37322a3efbf445fa861d39759ad22dcb","duration":"PT24H","description":"Investigate issues detailed in support ticket 0604","createdAt":"2020-01-06T12:05:00.0000000+00:00","expiry":"2020-01-07T12:05:00.0000000+00:00","createdBy":"UserId-54213","terminated":false,"permittedRoles":["support-role"]}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      },
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "[EARLY ACCESS] InvalidateSupportAccess: Revoke any FINBOURNE support access to your account",
        "description": "This will result in a loss of access to your data for all FINBOURNE support agents",
        "operationId": "InvalidateSupportAccess",
        "responses": {
          "200": {
            "description": "Invalidate all currently active support requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SupportAccessResponse"
                  }
                },
                "example": [{"id":"37322a3efbf445fa861d39759ad22dcb","duration":"PT24H","description":"Investigate issues detailed in support ticket 0604","createdAt":"2020-01-06T12:05:00.0000000+00:00","expiry":"2020-01-07T12:05:00.0000000+00:00","createdBy":"UserId-54213","terminated":false,"permittedRoles":["support-role"]},{"id":"37322a3efbf445fa861d39759ad22dcb","duration":"PT24H","description":"Investigate issues detailed in support ticket 0604","createdAt":"2020-01-06T12:05:00.0000000+00:00","expiry":"2020-01-07T12:05:00.0000000+00:00","createdBy":"UserId-54213","terminated":true,"terminatedAt":"2020-01-06T16:05:00.0000000+00:00","terminatedBy":"UserId-54213","permittedRoles":["support-role"]}]
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      },
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "[EARLY ACCESS] GetSupportAccessHistory: Get the history of all support access granted and any information pertaining to their termination",
        "description": "The active and inactive support requests will be returned, inactive support requests will have information pertaining to their termination\r\nincluding obfuscated userIds of those who created and terminated the request",
        "operationId": "GetSupportAccessHistory",
        "responses": {
          "200": {
            "description": "Get support access history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SupportAccessResponse"
                  }
                },
                "example": [{"id":"37322a3efbf445fa861d39759ad22dcb","duration":"PT24H","description":"Investigate issues detailed in support ticket 0604","createdAt":"2020-01-06T12:05:00.0000000+00:00","expiry":"2020-01-07T12:05:00.0000000+00:00","createdBy":"UserId-54213","terminated":false,"permittedRoles":["support-role"]},{"id":"37322a3efbf445fa861d39759ad22dcb","duration":"PT24H","description":"Investigate issues detailed in support ticket 0604","createdAt":"2020-01-06T12:05:00.0000000+00:00","expiry":"2020-01-07T12:05:00.0000000+00:00","createdBy":"UserId-54213","terminated":true,"terminatedAt":"2020-01-06T16:05:00.0000000+00:00","terminatedBy":"UserId-54213","permittedRoles":["support-role"]}]
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/authentication/support-roles": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "[EARLY ACCESS] GetSupportRoles: Get mapping of support roles, the internal representation to a human friendly representation",
        "description": "Get mapping of support roles, the internal representation to a human friendly representation",
        "operationId": "GetSupportRoles",
        "responses": {
          "200": {
            "description": "Get support roles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportRolesResponse"
                },
                "example": {"supportRoles":[{"label":"support-role","description":"Description of support role","roleIdentifier":{"scope":"scope","code":"code"},"internalIdentifier":"1"}]}
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/directory": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "[EARLY ACCESS] FindUsersById: Find users by id endpoint",
        "description": "Finds a maximum of 50 users by ID",
        "operationId": "FindUsersById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "A list of unique identifiers for the users",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUsersResponse"
                },
                "example": {"href":"https://my-domain.lusid.com/access","values":{"00ub0oNGTSWTBKOLGLNR":{"id":"00ub0oNGTSWTBKOLGLNR","login":"dennis.sierra","email":"Dennis","firstName":"Sierra","lastName":"dennis.sierra@my-awesome-company.com","type":"Personal","links":[{"relation":"User","href":"https://my-domain.lusid.com/access/api/users/00ub0oNGTSWTBKOLGLNR?includeRoles=false","description":"A link to access the full details of this user","method":"GET"},{"relation":"Activity","href":"https://my-domain.lusid.com/insights/api/requests?filter=user%20eq%20%2700ub0oNGTSWTBKOLGLNR%27","description":"A link to the LUSID Insights API to get all logs related to this user","method":"GET"}]},"00uijntSwJjSHtDY70g3":{"id":"00uijntSwJjSHtDY70g3","login":"rudi.kouma","email":"Rudi","firstName":"Kouma","lastName":"rudi.kouma@my-awesome-company.com","type":"Personal","links":[{"relation":"User","href":"https://my-domain.lusid.com/access/api/users/00uijntSwJjSHtDY70g3?includeRoles=false","description":"A link to access the full details of this user","method":"GET"},{"relation":"Activity","href":"https://my-domain.lusid.com/insights/api/requests?filter=user%20eq%20%2700uijntSwJjSHtDY70g3%27","description":"A link to the LUSID Insights API to get all logs related to this user","method":"GET"}]}},"failed":{"00u19uiKQa0xXkbdGLNR":{"id":"00u19uiKQa0xXkbdGLNR","type":"UserDoesNotExist","detail":"The specified user cannot be found or has been deleted"}},"links":[{"relation":"RequestLogs","href":"https://mydomain.lusid.com/app/insights/logs/0ABCDEFGHIJKL:00000001","description":"A link to the LUSID Insights website showing all logs related to this request","method":"GET"}]}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/identityprovider/scim": {
      "put": {
        "tags": [
          "Identity Provider"
        ],
        "summary": "[EXPERIMENTAL] AddScim: Add SCIM",
        "description": "Generates an API token to be used for SCIM",
        "operationId": "AddScim",
        "parameters": [
          {
            "name": "apiTokenAction",
            "in": "query",
            "description": "The action to take. For the API token. Defaults to \"ensure\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oldApiTokenDeactivation",
            "in": "query",
            "description": "Optional deactivation date for the old API token. Only used if apiTokenAction is \"regenerate\"",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "The base URL and API token to be used",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AddScimResponse"
                },
                "example": {"baseUrl":"https://my-domain.lusid.com/identity/scim/v2","apiToken":"ba5e8bed1cbd92f3cc4a893a48141ff23617b258cb7f1407f3567d1f35d0f0e0"}
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddScimResponse"
                },
                "example": {"baseUrl":"https://my-domain.lusid.com/identity/scim/v2","apiToken":"ba5e8bed1cbd92f3cc4a893a48141ff23617b258cb7f1407f3567d1f35d0f0e0"}
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddScimResponse"
                },
                "example": {"baseUrl":"https://my-domain.lusid.com/identity/scim/v2","apiToken":"ba5e8bed1cbd92f3cc4a893a48141ff23617b258cb7f1407f3567d1f35d0f0e0"}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      },
      "delete": {
        "tags": [
          "Identity Provider"
        ],
        "summary": "[EXPERIMENTAL] RemoveScim: Remove SCIM",
        "description": "Deactivates any existing SCIM API token",
        "operationId": "RemoveScim",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    },
    "/api/keys": {
      "post": {
        "tags": [
          "Personal Authentication Tokens"
        ],
        "summary": "[EARLY ACCESS] CreateApiKey: Create a Personal Access Token",
        "description": "Generates a Personal Access Token and returns the new key and its associated metadata.",
        "operationId": "CreateApiKey",
        "requestBody": {
          "description": "The request to create a new Personal Access Token",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKey"
              },
              "example": {"displayName":"My API Key","deactivationDate":"2022-12-08T13:30:12.0000000+00:00"}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKey"
              },
              "example": {"displayName":"My API Key","deactivationDate":"2022-12-08T13:30:12.0000000+00:00"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKey"
              },
              "example": {"displayName":"My API Key","deactivationDate":"2022-12-08T13:30:12.0000000+00:00"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKey"
              },
              "example": {"displayName":"My API Key","deactivationDate":"2022-12-08T13:30:12.0000000+00:00"}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The Personal Access Token and associated meta data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedApiKey"
                },
                "example": {"key":"ba5e8bed1cbd92f3cc4a893a48141ff23617b258cb7f1407f3567d1f35d0f0e0","id":"f45fcf4e7942422bb6c99ff74de30f40","displayName":"Automated system A's key","createdDate":"2020-01-01T00:00:00.0000000+00:00","deactivationDate":"2020-06-01T00:00:00.0000000+00:00"}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      },
      "get": {
        "tags": [
          "Personal Authentication Tokens"
        ],
        "summary": "[EARLY ACCESS] ListOwnApiKeys: Gets the meta data for all of the user's existing Personal Access Tokens.",
        "description": "Gets the meta data for all of the user's Personal Access Tokens that have not been deleted. They may be\r\ninvalid due to the deactivation date having passed.",
        "operationId": "ListOwnApiKeys",
        "responses": {
          "200": {
            "description": "List of user's existing Personal Access Tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                },
                "example": [{"id":"f45fcf4e7942422bb6c99ff74de30f40","displayName":"Automated system A's key","createdDate":"2020-01-01T00:00:00.0000000+00:00","deactivationDate":"2020-06-01T00:00:00.0000000+00:00"},{"id":"89762a35ce3649b5b92f47168611a534","displayName":"Automated system B's key","createdDate":"2020-01-02T00:00:00.0000000+00:00","deactivationDate":"2020-06-02T00:00:00.0000000+00:00"},{"id":"bd772a807cab49c0bcac565c8dbd7a20","displayName":"Automated system C's key","createdDate":"2020-01-03T00:00:00.0000000+00:00","deactivationDate":"2020-06-03T00:00:00.0000000+00:00"}]
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/keys/{id}": {
      "delete": {
        "tags": [
          "Personal Authentication Tokens"
        ],
        "summary": "[EARLY ACCESS] DeleteApiKey: Invalidate a Personal Access Token",
        "description": "Immediately invalidates the specified Personal Access Token",
        "operationId": "DeleteApiKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the Personal Access Token to delete",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invalidates a Personal Access Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                },
                "example": {"id":"f45fcf4e7942422bb6c99ff74de30f40","displayName":"Automated system A's key","createdDate":"2020-01-01T00:00:00.0000000+00:00","deactivationDate":"2020-08-01T00:00:00.0000000+00:00"}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/me": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "[EARLY ACCESS] GetUserInfo: Get User Info",
        "description": "Get the requesting user's basic info",
        "operationId": "GetUserInfo",
        "responses": {
          "200": {
            "description": "Get the specified user's info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrentUserResponse"
                },
                "example": {"id":"asybvrs5","emailAddress":"joe.bloggs@myco.com","type":"Personal"}
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/me/password": {
      "put": {
        "tags": [
          "Me"
        ],
        "summary": "SetPassword: Set password of current user",
        "description": "Set the password of the current user to the specified value.\r\n            \r\nNote this is feature is only available to Service users authenticated using OpenID. For further information\r\nrelating to usage of this feature please consult the documentation.",
        "operationId": "SetPassword",
        "requestBody": {
          "description": "The request containing the new password value",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SetPassword"
              },
              "example": {"value":""}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetPassword"
              },
              "example": {"value":""}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SetPassword"
              },
              "example": {"value":""}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SetPassword"
              },
              "example": {"value":""}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Set the current user's password",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetPasswordResponse"
                },
                "example": {"updatedAt":"2022-12-25T12:00:00.0000000+00:00"}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Stable"
      }
    },
    "/api/metadata/access/resources": {
      "get": {
        "tags": [
          "Application Metadata"
        ],
        "summary": "[EARLY ACCESS] ListAccessControlledResources: Get resources available for access control",
        "description": "Get the comprehensive set of resources that are available for access control",
        "operationId": "ListAccessControlledResources",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListOfAccessControlledResource"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListOfAccessControlledResource"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListOfAccessControlledResource"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/roles": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "[EARLY ACCESS] ListRoles: List Roles",
        "description": "List the available Roles",
        "operationId": "ListRoles",
        "responses": {
          "200": {
            "description": "List the available roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleResponse"
                  }
                },
                "example": [{"id":"asnvr5ne35","roleId":{"scope":"LUSID","code":"FrontOfficeAdministrator"},"source":"LusidUser","name":"LUSID:FrontOfficeAdministrator","description":"Front office administration role"}]
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      },
      "post": {
        "tags": [
          "Roles"
        ],
        "summary": "[EARLY ACCESS] CreateRole: Create Role",
        "description": "Creates a new Role",
        "operationId": "CreateRole",
        "requestBody": {
          "description": "Details of the role to be created",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoleRequest"
              },
              "example": {"name":"LUSID:FrontOfficeAdministrator","description":"Front office administration role"}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoleRequest"
              },
              "example": {"name":"LUSID:FrontOfficeAdministrator","description":"Front office administration role"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoleRequest"
              },
              "example": {"name":"LUSID:FrontOfficeAdministrator","description":"Front office administration role"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoleRequest"
              },
              "example": {"name":"LUSID:FrontOfficeAdministrator","description":"Front office administration role"}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Create a new role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleResponse"
                },
                "example": {"id":"asnvr5ne35","roleId":{"scope":"LUSID","code":"FrontOfficeAdministrator"},"source":"LusidUser","name":"LUSID:FrontOfficeAdministrator","description":"Front office administration role"}
              }
            }
          },
          "409": {
            "description": "A role with the same Name already exists."
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/roles/{id}": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "[EARLY ACCESS] GetRole: Get Role",
        "description": "Get the specified role",
        "operationId": "GetRole",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the role",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get the specified role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleResponse"
                },
                "example": {"id":"asnvr5ne35","roleId":{"scope":"LUSID","code":"FrontOfficeAdministrator"},"source":"LusidUser","name":"LUSID:FrontOfficeAdministrator","description":"Front office administration role"}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      },
      "delete": {
        "tags": [
          "Roles"
        ],
        "summary": "[EARLY ACCESS] DeleteRole: Delete Role",
        "description": "Delete the specified role",
        "operationId": "DeleteRole",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the role",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      },
      "put": {
        "tags": [
          "Roles"
        ],
        "summary": "[EARLY ACCESS] UpdateRole: Update Role",
        "description": "Update the specified Role",
        "operationId": "UpdateRole",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the role to be updated",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The new definition of the role",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoleRequest"
              },
              "example": {"description":"Front office administration role"}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoleRequest"
              },
              "example": {"description":"Front office administration role"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoleRequest"
              },
              "example": {"description":"Front office administration role"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoleRequest"
              },
              "example": {"description":"Front office administration role"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleResponse"
                },
                "example": {"id":"asnvr5ne35","roleId":{"scope":"LUSID","code":"FrontOfficeAdministrator"},"source":"LusidUser","name":"LUSID:FrontOfficeAdministrator","description":"Front office administration role"}
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/roles/{id}/users": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "[EARLY ACCESS] ListUsersInRole: Get the users in the specified role.",
        "description": "List all Users in the specified Role",
        "operationId": "ListUsersInRole",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Role",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The users in the role",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserResponse"
                  }
                },
                "example": [{"id":"asybvrs5","emailAddress":"joe.bloggs@myco.com","login":"joe.bloggs@myco.com","firstName":"Joe","lastName":"Bloggs","roles":[{"id":"customrole1","roleId":{"scope":"default","code":"customrole2"},"source":"LusidUser","name":"Front Office Administrator","description":"Administration role for Front Office staff"}],"type":"Personal","status":"ACTIVE","external":false}]
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/roles/{id}/users/{userId}": {
      "put": {
        "tags": [
          "Roles"
        ],
        "summary": "[EARLY ACCESS] AddUserToRole: Add User to Role",
        "description": "Adds the User to the specified Role",
        "operationId": "AddUserToRole",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Role",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the User",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      },
      "delete": {
        "tags": [
          "Roles"
        ],
        "summary": "[EARLY ACCESS] RemoveUserFromRole: Remove User from Role",
        "description": "Removes the User from the specified Role",
        "operationId": "RemoveUserFromRole",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Role",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the User",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/tokens": {
      "delete": {
        "tags": [
          "Tokens"
        ],
        "summary": "[EARLY ACCESS] InvalidateToken: Invalidate current JWT token (sign out)",
        "description": "Log the current user out of all Finbourne platforms by invalidating the current token",
        "operationId": "InvalidateToken",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "[EARLY ACCESS] ListUsers: List Users",
        "description": "List the available Users",
        "operationId": "ListUsers",
        "parameters": [
          {
            "name": "includeRoles",
            "in": "query",
            "description": "Flag indicating that the users roles should be included in the response",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-nullable": true
          },
          {
            "name": "includeDeactivated",
            "in": "query",
            "description": "Include previously deleted (not purged) users",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "List the available users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserResponse"
                  }
                },
                "example": [{"id":"asybvrs5","emailAddress":"joe.bloggs@myco.com","login":"joe.bloggs@myco.com","firstName":"Joe","lastName":"Bloggs","roles":[{"id":"customrole1","roleId":{"scope":"default","code":"customrole2"},"source":"LusidUser","name":"Front Office Administrator","description":"Administration role for Front Office staff"}],"type":"Personal","status":"ACTIVE","external":false}]
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "[EARLY ACCESS] CreateUser: Create User",
        "description": "Create a new User",
        "operationId": "CreateUser",
        "parameters": [
          {
            "name": "waitForReindex",
            "in": "query",
            "description": "Should the request wait until the newly created User is indexed (available in List) before returning",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-nullable": true
          }
        ],
        "requestBody": {
          "description": "Details of the User to be created",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              },
              "example": {"firstName":"Joe","lastName":"Bloggs","emailAddress":"joe.bloggs@myco.com","login":"joe.bloggs@myco.com","type":"Personal"}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              },
              "example": {"firstName":"Joe","lastName":"Bloggs","emailAddress":"joe.bloggs@myco.com","login":"joe.bloggs@myco.com","type":"Personal"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              },
              "example": {"firstName":"Joe","lastName":"Bloggs","emailAddress":"joe.bloggs@myco.com","login":"joe.bloggs@myco.com","type":"Personal"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              },
              "example": {"firstName":"Joe","lastName":"Bloggs","emailAddress":"joe.bloggs@myco.com","login":"joe.bloggs@myco.com","type":"Personal"}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Create a new user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                },
                "example": {"id":"asybvrs5","emailAddress":"joe.bloggs@myco.com","login":"joe.bloggs@myco.com","firstName":"Joe","lastName":"Bloggs","roles":[{"id":"customrole1","roleId":{"scope":"default","code":"customrole2"},"source":"LusidUser","name":"Front Office Administrator","description":"Administration role for Front Office staff"}],"type":"Personal","status":"ACTIVE","external":false}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "[EARLY ACCESS] GetUser: Get User",
        "description": "Get the specified User",
        "operationId": "GetUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the User",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "includeRoles",
            "in": "query",
            "description": "Flag indicating that the users roles should be included in the response",
            "schema": {
              "type": "boolean"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Get the specified user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                },
                "example": {"id":"asybvrs5","emailAddress":"joe.bloggs@myco.com","login":"joe.bloggs@myco.com","firstName":"Joe","lastName":"Bloggs","roles":[{"id":"customrole1","roleId":{"scope":"default","code":"customrole2"},"source":"LusidUser","name":"Front Office Administrator","description":"Administration role for Front Office staff"}],"type":"Personal","status":"ACTIVE","external":false}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "[EARLY ACCESS] DeleteUser: Delete User",
        "description": "By default the user will be de-provisioned and inactive, however their record will remain in the identity\r\nprovider for audit purposes. If this is not desirable and removal of all trace of the user is required,\r\nthe purge parameter can be specified to indicate the details should be purged completely.",
        "operationId": "DeleteUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the user",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "description": "Whether to purge any trace of the user from the identity provider (will affect audit)",
            "schema": {
              "type": "boolean"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "[EARLY ACCESS] UpdateUser: Update User",
        "description": "Updates the specified User",
        "operationId": "UpdateUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the User to be updated",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The new definition of the User",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              },
              "example": {"firstName":"Joe","lastName":"Bloggs","emailAddress":"joe.bloggs@myco.com","login":"joe.bloggs@myco.com"}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              },
              "example": {"firstName":"Joe","lastName":"Bloggs","emailAddress":"joe.bloggs@myco.com","login":"joe.bloggs@myco.com"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              },
              "example": {"firstName":"Joe","lastName":"Bloggs","emailAddress":"joe.bloggs@myco.com","login":"joe.bloggs@myco.com"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              },
              "example": {"firstName":"Joe","lastName":"Bloggs","emailAddress":"joe.bloggs@myco.com","login":"joe.bloggs@myco.com"}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update a user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                },
                "example": {"id":"asybvrs5","emailAddress":"joe.bloggs@myco.com","login":"joe.bloggs@myco.com","firstName":"Joe","lastName":"Bloggs","roles":[{"id":"customrole1","roleId":{"scope":"default","code":"customrole2"},"source":"LusidUser","name":"Front Office Administrator","description":"Administration role for Front Office staff"}],"type":"Personal","status":"ACTIVE","external":false}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/users/{id}/lifecycle/$activate": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "[EARLY ACCESS] SendActivationEmail: Sends an activation email to the User",
        "description": "Sends an activation email to the specified User",
        "operationId": "SendActivationEmail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the User to be activated",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/users/{id}/lifecycle/$expirepassword": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "[EARLY ACCESS] ExpirePassword: Reset the user's password to a temporary one",
        "description": "Resets the user's password to a temporary one which is then expired",
        "operationId": "ExpirePassword",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the User having its password reset",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reset the user's password",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemporaryPassword"
                }
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/users/{id}/lifecycle/$resetfactors": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "[EARLY ACCESS] ResetFactors: Reset MFA factors",
        "description": "Resets the MFA factors of the specified User",
        "operationId": "ResetFactors",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the User having their MFA factors reset",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/users/{id}/lifecycle/$resetpassword": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "[EARLY ACCESS] ResetPassword: Reset Password",
        "description": "Resets the password of the specified User",
        "operationId": "ResetPassword",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the User having their password reset",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    },
    "/api/users/{id}/lifecycle/$unlock": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "[EARLY ACCESS] UnlockUser: Unlock User",
        "description": "Unlocks the specified User",
        "operationId": "UnlockUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the User to be unlocked",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "EarlyAccess"
      }
    }
  },
  "components": {
    "schemas": {
      "AccessControlledAction": {
        "required": [
          "action",
          "description"
        ],
        "type": "object",
        "properties": {
          "description": {
            "minLength": 1,
            "type": "string"
          },
          "action": {
            "$ref": "#/components/schemas/ActionId"
          },
          "limitedSet": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IdSelectorDefinition"
            },
            "nullable": true
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccessControlledResource": {
        "required": [
          "actions",
          "description"
        ],
        "type": "object",
        "properties": {
          "application": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "minLength": 1,
            "type": "string"
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessControlledAction"
            }
          },
          "identifierParts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IdentifierPartSchema"
            },
            "nullable": true
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ActionId": {
        "required": [
          "activity",
          "entity",
          "scope"
        ],
        "type": "object",
        "properties": {
          "scope": {
            "maxLength": 100,
            "minLength": 3,
            "type": "string"
          },
          "activity": {
            "maxLength": 25,
            "minLength": 3,
            "type": "string"
          },
          "entity": {
            "maxLength": 25,
            "minLength": 3,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "AddScimResponse": {
        "type": "object",
        "properties": {
          "baseUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "apiToken": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ApiKey": {
        "required": [
          "createdDate",
          "displayName",
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9\\-_]+$",
            "type": "string",
            "description": "The unique Id of the API key"
          },
          "displayName": {
            "maxLength": 512,
            "minLength": 1,
            "pattern": "^[\\s\\S]*$",
            "type": "string",
            "description": "The display name of the API key"
          },
          "createdDate": {
            "type": "string",
            "description": "The creation date of the API key",
            "format": "date-time"
          },
          "deactivationDate": {
            "type": "string",
            "description": "The deactivation date of the API key",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "The metadata of an API key"
      },
      "AuthenticationInformation": {
        "required": [
          "issuerUrl"
        ],
        "type": "object",
        "properties": {
          "issuerUrl": {
            "minLength": 1,
            "type": "string"
          },
          "fallbackIssuerUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "samlIdentityProviderId": {
            "type": "string",
            "nullable": true
          },
          "support": {
            "$ref": "#/components/schemas/SupportAccessExpiry"
          },
          "supportAccessExpiryWithRole": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupportAccessExpiryWithRole"
            },
            "nullable": true
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateApiKey": {
        "required": [
          "displayName"
        ],
        "type": "object",
        "properties": {
          "displayName": {
            "maxLength": 512,
            "minLength": 1,
            "pattern": "^[\\s\\S]*$",
            "type": "string",
            "description": "The display name for the API key"
          },
          "deactivationDate": {
            "type": "string",
            "description": "The optional date at which the key should deactivate",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Create an API key"
      },
      "CreateApplicationRequest": {
        "required": [
          "clientId",
          "displayName",
          "type"
        ],
        "type": "object",
        "properties": {
          "displayName": {
            "maxLength": 50,
            "minLength": 1,
            "pattern": "^[\\s\\S]*$",
            "type": "string",
            "description": "The Display Name of the application"
          },
          "clientId": {
            "maxLength": 50,
            "minLength": 6,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{5,49}",
            "type": "string",
            "description": "The OpenID Connect ClientId of the application"
          },
          "type": {
            "maxLength": 20,
            "minLength": 1,
            "pattern": "^[a-zA-Z]*$",
            "type": "string",
            "description": "The Type of the application. This must be either Native or Web"
          },
          "redirectUris": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A web application's acceptable list of post-login redirect URIs",
            "nullable": true
          },
          "postLogoutRedirectUris": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A web application's acceptable list of post-logout redirect URIs",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A request to create an application for authenticating the source of token requests"
      },
      "CreatedApiKey": {
        "required": [
          "createdDate",
          "displayName",
          "id",
          "key"
        ],
        "type": "object",
        "properties": {
          "key": {
            "minLength": 1,
            "type": "string",
            "description": "The API Key value"
          },
          "id": {
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9\\-_]+$",
            "type": "string",
            "description": "The unique Id of the API key"
          },
          "displayName": {
            "maxLength": 512,
            "minLength": 1,
            "pattern": "^[\\s\\S]*$",
            "type": "string",
            "description": "The display name of the API key"
          },
          "createdDate": {
            "type": "string",
            "description": "The creation date of the API key",
            "format": "date-time"
          },
          "deactivationDate": {
            "type": "string",
            "description": "The deactivation date of the API key",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A newly created API key"
      },
      "CreateRoleRequest": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 512,
            "minLength": 1,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-_ +]{2,100}$",
            "type": "string",
            "description": "The role name, which must be unique within the system."
          },
          "description": {
            "maxLength": 1024,
            "minLength": 0,
            "pattern": "^[\\s\\S]*$",
            "type": "string",
            "description": "The description for this role",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Specifies the information required to create a new role."
      },
      "CreateUserRequest": {
        "required": [
          "emailAddress",
          "firstName",
          "lastName",
          "login",
          "type"
        ],
        "type": "object",
        "properties": {
          "firstName": {
            "maxLength": 50,
            "minLength": 1,
            "pattern": "^[\\s\\S]*$",
            "type": "string",
            "description": "The first name of the user"
          },
          "lastName": {
            "maxLength": 50,
            "minLength": 2,
            "pattern": "^[\\s\\S]*$",
            "type": "string",
            "description": "The last name of the user"
          },
          "emailAddress": {
            "maxLength": 80,
            "minLength": 5,
            "type": "string",
            "description": "The user's email address - to which the account validation email will be sent. For user accounts\r\nthis should exactly match the Login."
          },
          "secondEmailAddress": {
            "maxLength": 80,
            "minLength": 5,
            "type": "string",
            "description": "The user's second email address. Only allowed for Service users",
            "nullable": true
          },
          "login": {
            "maxLength": 80,
            "minLength": 5,
            "type": "string",
            "description": "The user's login username, in the form of an email address, which must be unique within the system.\r\nFor user accounts this should exactly match the user's email address."
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoleId"
            },
            "description": "Optional. Any known roles the user should be created with.",
            "nullable": true
          },
          "type": {
            "maxLength": 20,
            "minLength": 1,
            "pattern": "^[a-zA-Z]*$",
            "type": "string",
            "description": "The type of user (e.g. Personal or Service)"
          }
        },
        "additionalProperties": false,
        "description": "Details necessary for creating a new user"
      },
      "CurrentUserResponse": {
        "required": [
          "emailAddress",
          "id",
          "type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "minLength": 1,
            "type": "string",
            "description": "The user's system supplied unique identifier"
          },
          "emailAddress": {
            "minLength": 1,
            "type": "string",
            "description": "The user's email address which may be null depending on the authentication method"
          },
          "type": {
            "minLength": 1,
            "type": "string",
            "description": "The type of user (e.g. Personal or Service)"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Id of the entity this error relates to",
            "nullable": true
          },
          "type": {
            "type": "string",
            "description": "Error type",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "description": "Human readable description of the error",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Provides details about an entity error that occured"
      },
      "IdentifierPartSchema": {
        "required": [
          "description",
          "displayName",
          "index",
          "name",
          "required"
        ],
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "displayName": {
            "minLength": 1,
            "type": "string"
          },
          "description": {
            "minLength": 1,
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "IdSelectorDefinition": {
        "required": [
          "actions",
          "identifier"
        ],
        "type": "object",
        "properties": {
          "identifier": {
            "minLength": 1,
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "actions": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActionId"
            }
          },
          "name": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "description": {
            "maxLength": 1024,
            "minLength": 0,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Link": {
        "required": [
          "href",
          "method",
          "relation"
        ],
        "type": "object",
        "properties": {
          "relation": {
            "type": "string"
          },
          "href": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "method": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ListUsersResponse": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string",
            "description": "Uri of this response",
            "format": "uri",
            "nullable": true
          },
          "values": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/UserSummary"
            },
            "description": "Successful entities, indexed by their id",
            "nullable": true
          },
          "failed": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "description": "Failed entities, indexed by their id",
            "nullable": true
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Users directory query response"
      },
      "LusidProblemDetails": {
        "required": [
          "code",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "errorDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "LusidValidationProblemDetails": {
        "required": [
          "code",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "errorDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OAuthApplication": {
        "required": [
          "clientId",
          "displayName",
          "id",
          "issuer",
          "type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "minLength": 1,
            "type": "string"
          },
          "type": {
            "minLength": 1,
            "type": "string"
          },
          "displayName": {
            "maxLength": 512,
            "minLength": 1,
            "pattern": "^[\\s\\S]*$",
            "type": "string"
          },
          "secret": {
            "type": "string",
            "nullable": true
          },
          "clientId": {
            "minLength": 1,
            "type": "string"
          },
          "issuer": {
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ResourceListOfAccessControlledResource": {
        "required": [
          "values"
        ],
        "type": "object",
        "properties": {
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessControlledResource"
            }
          },
          "href": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          },
          "nextPage": {
            "type": "string",
            "nullable": true
          },
          "previousPage": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RoleId": {
        "required": [
          "code",
          "scope"
        ],
        "type": "object",
        "properties": {
          "scope": {
            "maxLength": 100,
            "minLength": 3,
            "type": "string"
          },
          "code": {
            "maxLength": 100,
            "minLength": 3,
            "type": "string"
          }
[...]
